<div>
    <%= link_to "view all lessons", admin_lessons_path %>
</div>

<div>
    <%= link_to "edit", edit_admin_lesson_path(@lesson.id) %>
</div>

<div>
    Title: <%= @lesson.title %>
</div>

<div>
    Accessibility Features: <%= @lesson.accessibility_features %>
</div>

<div>
    Content: <%= @lesson.content %>
</div>

<div>
    Lesson Type: <%= @lesson.lesson_type %>
</div>

<div>
    <%= link_to "Add new code", new_admin_lesson_code_path(@lesson.id) %>
</div>

<% @lesson.codes.each do |code| %>
    <div>
        Language: <%= code.language %>
    <div>
        Accessible Code: <%= code.accessible_code %>
    </div>
    <div>
        Inaccessible Code: <%= code.inaccessible_code  %>
    </div>

    <div>
        <%= link_to "edit code", edit_admin_lesson_code_path(@lesson.id, code.id) %>
    </div>

    <%# <div>
        <%= link_to "delete code", admin_lesson_code_path(@lesson.id, code.id), {method: :delete} %>
    <%# </div> %>



<% end %>


