
<%= form_with model: [:admin, @lesson, @code] do |form| %>
<div class="form">
<div class="form-field">
  <%= form.label :language, "Language:" %>
  <%= form.text_field :language, size: "70x5"  %>
</div>

<div class="form-field">
   <%= form.label :accessible_code, "Accessible Code Sandbox URL:" %>
   <%= form.text_field :accessible_code, :size => "70x5"  %>
</div>
<div class="form-field">

   <%= form.label :inaccessible_code, "Inccessible Code Sandbox URL:" %>
   <%= form.text_field :inaccessible_code, :size => "70x5"  %>
</div>
</div>

<div>
  <%= form.submit "Submit" %>
  </div>
<% end %>

<% if @lesson.id %>
    <div class="Rtable-cell">
        <%= link_to "View Lesson", admin_lesson_path(@lesson) %>
    </div>
    <% else %>
    <div></div>
<% end %>